

<div class="card my-1" >
    <div class="card-header text-center" style="background-color:#00BFFF">
        {{ question1.name }}
    </div>
    <div class="card-body" style="background-color:#87CEFA">
        <div class="card-title">
            <div style="border-bottom: 1px solid dodgerblue;">
                <div>
                    {{ question1.text }}
                </div>
                {% if question1.img_path %}
                    <div class="text-center">
                        <img class="p-1" src="{{ url_for('media', filename=question1.img_path) }}">
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-text">
            <ol>
                {% for answer in question1.answers %}
                    <li>{{ answer }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<div class=" card my-1">
    <div class="card-header text-center" style="background-color:#66CDAA">
        {{ question2.name }}
    </div>
    <div class="card-body" style="background-color:#7FFFD4">
        <div class="card-title">
            <div style="border-bottom: 1px solid lightgreen;">
                <div>
                    {{ question2.text }}
                </div>
                {% if question2.img_path %}
                    <div class="text-center">
                        <img class="p-1" src="{{ url_for('media', filename=question2.img_path) }}">
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-text">
            <ol>
                {% for answer in question2.answers %}
                    <li>{{ answer }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

