

<div class="card question_var_1" >
    <div class="card-header text-center header_var_1">
        Вариант I   :   {{ question1.name }}
    </div>
    <div class="card-body body_var_1">
        <div class="question_title">
            <div>
                {{ question1.text }}
            </div>
            {% if question1.img_path %}
                <div class="text-center">
                    <img class="p-1 quest_image" src="{{ url_for('media', filename=question1.img_path) }}">
                </div>
            {% endif %}
        </div>
        <div class="question_text">
            <ol>
                {% for answer in question1.answers %}
                    <li>{{ answer }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<div class="card question_var_2">
    <div class="card-header text-center header_var_2">
        Вариант II   :   {{ question2.name }}
    </div>
    <div class="card-body body_var_2">
        <div>
            <div class="question_title">
                <div>
                    {{ question2.text }}
                </div>
                {% if question2.img_path %}
                    <div class="text-center">
                        <img class="p-1 quest_image" src="{{ url_for('media', filename=question2.img_path) }}">
                    </div>
                {% endif %}
            </div>
            <div class="question_text">
                <ol>
                    {% for answer in question2.answers %}
                        <li>{{ answer }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

