{% extends "adminbase.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block main%}
    <div class="row">
        <div class="p-5 m-auto text-center" style="font-size:1.5rem">
            Тест:
            &nbsp
            {% if values.num != 0 %}
                {{ values.num }}
                &nbsp
            {% endif %}
            {{ values.theme }}
            &nbsp
            {{ values.special }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card border-0 p-5 m-auto" style="">
            {{ wtf.quick_form(values.form, button_map={'submit':'success'}) }}
            <button id="cancel_btn" class="btn btn-danger mx-5" >Отменить тестирование</button>
        </div>
    </div>


{% endblock %}

