{% extends "baseadmin.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block main%}
    {% if values.title != 'Демонстратор: Идёт теститорвание' %}
        <div class="row">
            <div class="p-1 m-auto text-center" style="font-size:1.5rem">
                Тест:
                &nbsp
                {% if values.num != 0 %}
                    {{ values.num }}
                    &nbsp
                {% endif %}
                {{ values.theme }}
                &nbsp
                {{ values.special }}
            </div>
        </div>
    {% endif %}
    <div class="row" style="height: 60px">

    </div>
    <div class="row">
            <div class="p-1 m-auto text-center" style="font-size:1.2rem">
                Вариант I
            </div>
            <div class="p-1 m-auto text-center" style="font-size:1.2rem">
                Вариант II
            </div>
    </div>
    <div id="question" class="card-deck" quest-num={{ session.quest_num }} quest-max={{ session.quest_max }}>
        {% with question1 = values.variant1.question, question2 = values.variant2.question %}
            {% include 'demonstrator/question.html' %}
        {% endwith %}
    </div>
    <div class="my-3 progress" style="height: 30px;">
        <div class=" progress-bar bg-warning" role="progressbar" style="width: 0%; transition:none;" aria-valuenow=0 aria-valuemin=0 aria-valuemax={{ values.quest_time*100 }}></div>
    </div>
    <div class="row justify-content-center">
        <div id="control_btn" class="btn btn-success mx-5" >Приостановить тестирование</div>

        <button id="cancel_btn" class="btn btn-danger mx-5" >Отменить тестирование</button>
    </div>
{% endblock %}