body {
    height: 85vh;
    background-color: #f8f9fa;
}

.variant1 {
    /*background-color: #E9967A;*/
    background-color: #5a3925;
    color: white;
}

.variant2 {
    /*background-color: #66CDAA;*/
    background-color: #2d5a41;
    color:white;
}

.blink {
    background-color: white; !important;
}
/*Кнопки выбора варианта*/
.button_variant1 {
    width: 200px;
    height: 80px;
    background-color: #E9967A;
    cursor: pointer
}

.button_variant1:hover {
    background-color: #CC7755;
}

.button_variant2 {
    width: 200px;
    height: 80px;
    background-color: #66CDAA;
    cursor: pointer
}

.button_variant2:hover {
    background-color: #44AA88;
}

/*Кнопки ответа на вопрос*/
.button_answ {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.button_answ_off {
    background-color: #00BFFF;
}

.button_answ_on {
    background-color: #005572;
}