{% extends "basestudent.html" %}

{% block main %}
    <div class="row justify-content-center h-25">
        <p class="m-auto">
            {{ values.page_info }}
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="button_variant1 card m-1" value="1">
            <p class="m-auto">
                Вариант 1
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="button_variant2 card m-1" value="2">
            <p class="m-auto">
                Вариант 2
            </p>
        </div>
    </div>
{% endblock %}

