{% extends "bootstrap/base.html" %}

    {% block title %}
        {{ values.title }}
    {% endblock %}


    {% block navbar %}
        {% if values.title != 'Демонстратор: Идёт теститорвание' %}
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid justify-content-center">
                    <span class="navbar-brand" style="font-size:1rem; color:rgba(0,0,0,.5);">
                        <strong>
                            {% if values.login_required %}
                                {{ session.subject_name }}
                            {% endif %}
                        </strong>
                    </span >
                    <span  class="navbar-text mx-auto" style="color:black">
                        <h4 id="navbar-text" >
                            {{ values.page_info}}
                        </h4>
                    </span>
                    <span class="navbar-text" style="font-size:1rem !important; visibility: hidden !important;">
                        <strong>
                            {% if values.login_required %}
                                {{ session.subject_name }}
                            {% endif %}
                        </strong>
                    </span>
                </div>
            </nav>
        {% endif %}
    {% endblock %}


    {% block content %}
        <div class="container justify-content-center">
            {% if values.errors %}
                {% for error in values.errors %}
                    <div class="row">
                        <div class="alert alert-danger w-100 text-center" role="alert">
                            {{ error }}
                        </div>
                    </div>
                {% endfor%}
            {% endif %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div>
                        <div class="alert alert-success" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

            {% block main %}
            {% endblock %}

        </div>
    {% endblock %}

    {% block scripts%}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/admintester.js') }}"></script>
        <link href="{{ url_for('static', filename='css/admintester.css') }}" rel="stylesheet"/>

    {% endblock %}
