{% extends "bootstrap/base.html" %}

    {
    {% block title %}
        {{ values.title }}
    {% endblock %}


    {% block body_attribs %}
        class = "{% if 'student' in values %}variant{{ values.student.variant }}{% endif %}"
    {% endblock %}
    {% block content %}
        <div class="container justify-content-center" style="height: 100%">
            {% block main %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block scripts%}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/studentstester.js') }}"></script>
        <link href="{{ url_for('static', filename='css/studentstester.css') }}" rel="stylesheet"/>

    {% endblock %}
