{% extends "baseadmin.html" %}

{% block main %}
    <div class="row justify-content-center" style="height:60vh">
        <div class="card border-0 p-4 m-auto" style="">
            <a class="btn btn-primary btn-lg m-1" href={{ url_for('demonstrator.index') }}>Демонстратор</a><br>
            <a class="btn btn-primary btn-lg m-1" href={{ url_for('estimator.index') }}>Результаты тестов</a><br>
            <a class="btn btn-danger btn-lg m-1" href={{ url_for('administrator.logout') }}>Выход</a><br>
        </div>
    </div>
{% endblock %}